# Hypothesis Testing Assignment Q1

Assume: Null hypothesis H0= There is no difference in diameters of cutlets between two units
        Alternate hypothesis is Ha= There is significant difference in diameters of cutlets between two units

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [3]:
data=pd.read_csv('D:\DATA SCIENCE\Hypothesis Assignment\Cutlets.csv')

In [4]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [5]:
unitA=pd.Series(data.iloc[:,0])

In [6]:
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [8]:
unitB=pd.Series(data.iloc[:,1])

In [9]:
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [11]:
pvalue=stats.ttest_ind(unitA,unitB)
pvalue

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [13]:
pvalue[1]

0.4722394724599501

Inference: AS (pvalue=0.47)> (a=0.05) then H0 is accepted
2 Sample 2 Tail test applicable

# Hypothesis testing Assignment Q2

In [20]:
data=pd.read_csv('D:/DATA SCIENCE/Hypothesis Assignment/LabTAT.csv')

In [21]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [22]:
pvalue=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
pvalue

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [23]:
pvalue[1]

2.1156708949992414e-57

# Hypothesis testing Assignment Q3

In [24]:
df=pd.read_csv('D:/DATA SCIENCE/Hypothesis Assignment/BuyerRatio.csv')

In [25]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [26]:
df_table=df.iloc[:,1:6]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [27]:
df_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [29]:
val=stats.chi2_contingency(df_table)

In [30]:
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [31]:
type(val)

tuple

In [35]:
no_of_rows=len(df_table.iloc[0:2,0])

In [37]:
no_of_columns=len(df_table.iloc[0,0:4])

In [38]:
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [39]:
expected_value=val[3]

In [40]:
expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [42]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(df_table.values,expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [43]:
critical_value=chi2.ppf(0.95,0.3)

In [44]:
critical_value

1.6511748729089386

In [50]:
if chi_square_statestic >= critical_value:
    print('Dependent (reject H0)')
else: 
        print('Independent ( reject to fail H0)')

Independent ( reject to fail H0)

In [ ]:
if chi_square_statestic >= critical_value:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

In [52]:
pvalue=1-chi2.cdf(chi_square_statestic,3)
pvalue

0.6787446296467897

In [53]:
if pvalue<=0.05:
    print('Dependent (reject H0)')
else:
    print('Independent (reject to fail H0)')

Independent (reject to fail H0)

# Hypothesis testing Assignment Q4

In [54]:
data=pd.read_csv('D:/DATA SCIENCE/Hypothesis Assignment/Costomer+OrderForm.csv')

In [55]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [57]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [58]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [59]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [60]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [62]:
from scipy.stats import chi2_contingency

In [65]:
obs=np.array([[271,267,269,280],[29,33,31,20]])

In [66]:
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [67]:
chi2_contingency(obs)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

Assume: Null Hypothesis H0= customer order forms defective % does not varies by centre
and alternate hypothesis Ha= customer order forms defective % varies by centre

#compare pvalue with a=0.05
Inference: As (pvalue=0.02)> (a=0.05); Accept Null hypothesis.